<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./layout/head.ejs') %>
</head>
<body>
  <section>
    <h2><%= oneTask.title %><h2>
    <p><%= oneTask.description %></p>
    <%= oneTask.completion %>
  </section>
</body>
</html>